In [5]:
import osmnx as ox
import matplotlib.pyplot as plt
import pandas as pd

/Users/heyonglin/opt/anaconda3/lib/python3.9/site-packages/scipy/__init__.py:146: UserWarning: A NumPy version >=1.16.5 and <1.23.0 is required for this version of SciPy (detected version 1.23.3
  warnings.warn(f"A NumPy version >={np_minversion} and <{np_maxversion}"

In [123]:
house_df = pd.read_csv("../data/house_combined.csv")
suburb_list = house_df[['surburb','postcode']].drop_duplicates().reset_index().drop('index', axis = 1)

In [124]:
df2 = house_df[['surburb']].drop_duplicates().reset_index().drop('index', axis = 1)

In [125]:
suburb_postcode_df = house_df[['surburb','postcode']].drop_duplicates().reset_index().drop('index', axis = 1)

In [ ]:
list_1 = {}
for suburb in suburb_list['surburb']:
    if(suburb == 'melbourne'):
        continue
    print(suburb)
    l = {}
    place_name = suburb+ ", Victoria, AU" 
    try:
        buildings = ox.geometries_from_place(place_name, tags = {'amenity': True, 'landuse':['retail','commercial']})
    except Exception:
        list_1[suburb] = None
        continue
    if len(buildings) == 0:
        list_1[suburb] = None
        continue
    for amenity, sub_df in buildings.groupby('amenity'):
        l[amenity] = len(sub_df)
    list_1[suburb] = l

In [157]:
attribute_list = {**list_1, **list_2}
attribute_df = pd.DataFrame(attribute_list).T
attribute_df.to_csv('../data/raw/attribute_df.csv')
attribute_df = attribute_df[['bench','cafe','childcare','fast_food','kindergarten','parking','restaurant','place_of_worship','school','university']]

In [158]:
attribute_df

,bench,cafe,childcare,fast_food,kindergarten,parking,restaurant,place_of_worship,school,university
south melbourne,11.0,41.0,4.0,17.0,3.0,30.0,40.0,6.0,1.0,NaN
port melbourne,45.0,32.0,1.0,20.0,1.0,118.0,16.0,3.0,3.0,NaN
albert park,139.0,144.0,6.0,59.0,7.0,289.0,172.0,24.0,12.0,2.0
middle park,7.0,5.0,NaN,2.0,2.0,NaN,4.0,1.0,1.0,NaN
east melbourne,102.0,19.0,NaN,1.0,1.0,55.0,8.0,10.0,1.0,NaN
...,...,...,...,...,...,...,...,...,...,...
tallangatta,NaN,3.0,NaN,1.0,NaN,4.0,NaN,1.0,3.0,NaN
eskdale,NaN,1.0,NaN,NaN,NaN,1.0,NaN,2.0,1.0,NaN
dartmouth,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
beechworth,1.0,6.0,NaN,NaN,1.0,31.0,4.0,3.0,4.0,NaN
allans flat,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
leisure_list = {}
for suburb in suburb_list['surburb']:
    if(suburb == 'melbourne'):
        continue
    print(suburb)
    l = {}
    place_name = suburb+ ", Victoria, AU" 
    try:
        leisure = ox.geometries_from_place(place_name, tags={'leisure':True})
    except Exception:
        leisure_list[suburb] = None
        continue
    if len(leisure) == 0:
        leisure_list[suburb] = None
        continue
    for leisure, sub_df in leisure.groupby('leisure'):
        l[leisure] = len(sub_df)
    leisure_list[suburb] = l

In [ ]:
leisure_list = {}
for suburb in suburb_list['surburb']:
    if(suburb == 'melbourne'):
        continue
    print(suburb)
    l = {}
    place_name = suburb+ ", Victoria, AU" 
    try:
        leisure = ox.geometries_from_place(place_name, tags={'leisure':True})
    except Exception:
        leisure_list[suburb] = None
        continue
    if len(leisure) == 0:
        leisure_list[suburb] = None
        continue
    for leisure, sub_df in leisure.groupby('leisure'):
        l[leisure] = len(sub_df)
    leisure_list[suburb] = l

In [ ]:
leisure_list_2 = {}
for suburb in suburb_list['surburb'][500:]:
    print(suburb)
    l = {}
    place_name = suburb+ ", Victoria, AU" 
    try:
        leisure = ox.geometries_from_place(place_name, tags={'leisure':True})
    except Exception:
        leisure_list_2[suburb] = None
        continue
    if len(leisure) == 0:
        leisure_list_2[suburb] = None
        continue
    for leisure, sub_df in leisure.groupby('leisure'):
        l[leisure] = len(sub_df)
    leisure_list_2[suburb] = l

In [376]:
leisure_attribute_list = {**leisure_list, **leisure_list_2}
leisure_attribute_list = pd.DataFrame(leisure_attribute_list).T
leisure_attribute_list.to_csv('../data/raw/leisure_df.csv')
leisure_attribute_list = leisure_attribute_list[['garden','park','playground','pitch']]

In [399]:
attribute_conbined = pd.concat([attribute_df,leisure_attribute_list], axis = 1)

In [400]:
attribute_conbined = attribute_conbined.reset_index().join(suburb_postcode_df).drop('index',axis = 1)
attribute_conbined.to_csv('../data/attribute_conbined.csv')

Download Australia CPI data

In [62]:
xls = pd.ExcelFile('../data/cpi.xlsx')
df1 = pd.read_excel(xls, 'Data')[13:].drop('Unnamed: 0', axis = 1).rename({'Unnamed: 1':'year','Unnamed: 2':'cpi'},axis = 1).reset_index().drop('index',axis = 1)
cpi_list = list(df1['cpi'])
l = []
m = 0
for i in range(2019,2026):
    l.append([i,cpi_list[m]])
    m = m+1
cpi_df = pd.DataFrame(l, columns=['year','cpi'])
cpi_df.to_csv('../data/cpi.csv')