In [11]:
import pandas as pd

In [35]:
df = pd.read_csv('../data/curated/initial.csv')
df

,Unnamed: 0,name,cost_text,coordinates,bedroom,bathroom,parking
0,0,Upstairs 2C Staley Street Brunswick VIC 3056,"$35,000 Annually","[-37.7655919, 144.9633048]",0,0,2
1,1,3502/14-16 The Esplanade St Kilda VIC 3182,"$6,000","[-37.8650177, 144.9746821]",3,3,3
2,2,9 Lansdowne Street Blairgowrie VIC 3942,"$5,000 per week","[-38.372703, 144.7856897]",3,2,3
3,3,52 Black St Brighton VIC 3186,From $5500 per week,"[-37.9159452, 144.9989003]",3,4,3
4,4,4203/35 Spring Street Melbourne VIC 3000,$4500 Per Week,"[-37.8141725, 144.9740049]",3,2,4
...,...,...,...,...,...,...,...
790,790,201/20 Blessington Street St Kilda VIC 3182,$850 pw,"[-37.8704366, 144.9800936]",3,2,1
791,791,202/20 Blessington Street St Kilda VIC 3182,$850 pw,"[-37.8704366, 144.9800936]",3,2,1
792,792,85-86 Bluff Rd St Leonards VIC 3223,$850 weekly,"[-38.1858684, 144.7119873]",4,2,6
793,793,14/70 Canterbury Road Toorak VIC 3142,$850 per week,"[-37.8424594, 145.0108016]",1,1,0
794,794,8 Balmerino Avenue Toorak VIC 3142,$850.00 Per Week,"[-37.836467, 145.008938]",4,2,1

In [40]:
df = df.iloc[:,1:]

In [41]:
df.loc[:,'cost_text'] = df['cost_text'].str.lower()
df.loc[:,'cost_text'] = df['cost_text'].str.replace('$','')
df.loc[:,'cost_text'] = df['cost_text'].str.replace(' per week','')
df.loc[:,'cost_text'] = df['cost_text'].str.replace(' weekly','')
df.loc[:,'cost_text'] = df['cost_text'].str.replace(' pw','')
df.loc[:,'cost_text'] = df['cost_text'].str.replace(',','')
df.loc[:,'cost_text'] = df['cost_text'].str.replace('from ','')
df['cost_text']

/tmp/ipykernel_6111/1273942265.py:2: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df.loc[:,'cost_text'] = df['cost_text'].str.replace('$','')

0      35000 annually
1                6000
2                5000
3                5500
4                4500
            ...
790               850
791               850
792               850
793               850
794            850.00
Name: cost_text, Length: 795, dtype: object

In [43]:
df.iloc[0:20,1]

0                                35000 annually
1                                          6000
2                                          5000
3                                          5500
4                                          4500
5                                3775 wk 545 pn
6                                          3750
7                                       3750.00
8                                       3500.00
9                                          3500
10                                      3200.00
11    fine furnished residences at westprecinct
12                                         3100
13                                         3000
14                                         2995
15                                         3000
16                                         3000
17                                         3000
18     fine furnished residences @ westprecinct
19                                         2800
Name: cost_text, dtype: object

In [23]:
def get_weekly_cost(x):
    try:
        return int(x['cost_text'])
    except ValueError:
        return None


df.loc[:,"weekly_cost($)"] = df.apply(get_weekly_cost, axis=1)

In [32]:
df.isnull().value_counts()

Unnamed: 0  name   cost_text  coordinates  bedroom  bathroom  parking  weekly_cost($)
False       False  False      False        False    False     False    True              399
                                                                       False             396
dtype: int64