In [18]:
import geopandas as gpd
bus_sf = gpd.read_file("../data/raw/PUBLIC_TRANSPORT/PTV_METRO_BUS_STOP.shp")
bus_sf

,STOP_ID,STOP_NAME,LATITUDE,LONGITUDE,TICKETZONE,ROUTEUSSP,geometry
0,10185,Bonnie View Rd/Maroondah Hwy (Croydon North),-37.780920,145.288145,2,670,POINT (145.28815 -37.78091)
1,10186,Primrose Rd/Maroondah Hwy (Croydon North),-37.774626,145.292843,2,670,POINT (145.29285 -37.77461)
2,10187,Exeter Rd/Maroondah Hwy (Croydon North),-37.770446,145.295459,2,670,POINT (145.29546 -37.77043)
3,10188,Maroondah Golf Park/Maroondah Hwy (Chirnside P...,-37.766346,145.301775,2,670,POINT (145.30178 -37.76633)
4,10189,Old Melbourne Rd/Maroondah Hwy (Chirnside Park),-37.765276,145.304410,2,670,POINT (145.30442 -37.76526)
...,...,...,...,...,...,...,...
18554,47586,Bambara Ct/Wright St (Sunshine West),-37.794654,144.820117,"1,2",428,POINT (144.82012 -37.79464)
18555,47587,Booral Dr/Wright St (Sunshine West),-37.794911,144.817452,2,428,POINT (144.81746 -37.79490)
18556,47588,Fairbairn Rd/Wright St (Sunshine West),-37.794707,144.817129,2,428,POINT (144.81714 -37.79469)
18557,47589,Dalpura Dr/Wright St (Sunshine West),-37.794700,144.811894,2,428,POINT (144.81190 -37.79469)
18558,4759,Moonee Ponds PS/Wilson St (Moonee Ponds),-37.763414,144.933267,1,508,POINT (144.93327 -37.76340)

In [17]:
train_sf = gpd.read_file("../data/raw/PUBLIC_TRANSPORT/PTV_METRO_TRAIN_STATION.shp")
train_sf

,STOP_ID,STOP_NAME,LATITUDE,LONGITUDE,TICKETZONE,ROUTEUSSP,geometry
0,19970,Royal Park Railway Station (Parkville),-37.781193,144.952301,1,Upfield,POINT (144.95231 -37.78118)
1,19971,Flemington Bridge Railway Station (North Melbo...,-37.788140,144.939323,1,Upfield,POINT (144.93933 -37.78813)
2,19972,Macaulay Railway Station (North Melbourne),-37.794267,144.936166,1,Upfield,POINT (144.93617 -37.79425)
3,19973,North Melbourne Railway Station (West Melbourne),-37.807419,144.942570,1,"Flemington,Sunbury,Upfield,Werribee,Williamsto...",POINT (144.94258 -37.80741)
4,19974,Clifton Hill Railway Station (Clifton Hill),-37.788657,144.995417,1,"Mernda,Hurstbridge",POINT (144.99542 -37.78864)
...,...,...,...,...,...,...,...
215,19965,Coburg Railway Station (Coburg),-37.742345,144.963336,1,Upfield,POINT (144.96334 -37.74233)
216,19966,Moreland Railway Station (Coburg),-37.754485,144.961823,1,Upfield,POINT (144.96183 -37.75447)
217,19967,Anstey Railway Station (Brunswick),-37.761242,144.960684,1,Upfield,POINT (144.96069 -37.76123)
218,19968,Brunswick Railway Station (Brunswick),-37.767721,144.959587,1,Upfield,POINT (144.95959 -37.76771)
219,19969,Jewell Railway Station (Brunswick),-37.774987,144.958717,1,Upfield,POINT (144.95872 -37.77497)

In [16]:
tram_sf = gpd.read_file("../data/raw/PUBLIC_TRANSPORT/PTV_METRO_TRAM_STOP.shp")
tram_sf

,STOP_ID,STOP_NAME,LATITUDE,LONGITUDE,TICKETZONE,ROUTEUSSP,geometry
0,18730,134-Merribell Ave/Nicholson St (Coburg),-37.744359,144.977728,1,1,POINT (144.97773 -37.74435)
1,18732,44-Deepdene Park/Whitehorse Rd (Balwyn),-37.811375,145.068671,1,109,POINT (145.06868 -37.81136)
2,18733,45-Hardwicke St/Whitehorse Rd (Balwyn),-37.811750,145.071785,1,109,POINT (145.07179 -37.81174)
3,18734,46-Balwyn Cinema/Whitehorse Rd (Balwyn),-37.812242,145.075930,1,109,POINT (145.07594 -37.81223)
4,18735,47-Balwyn Rd/Whitehorse Rd (Balwyn),-37.812919,145.081524,"1,2",109,POINT (145.08153 -37.81291)
...,...,...,...,...,...,...,...
1660,6037,34-Bent St/High St (Northcote),-37.767614,144.999096,1,86,POINT (144.99910 -37.76760)
1661,6038,33-Arthurton Rd/High St (Northcote),-37.769413,144.998900,1,86,POINT (144.99891 -37.76940)
1662,6039,32-Mitchell St/High St (Northcote),-37.771138,144.998569,1,86,POINT (144.99858 -37.77112)
1663,6040,31-Northcote Town Hall/High St (Northcote),-37.774712,144.997837,1,86,POINT (144.99784 -37.77470)
1664,6041,30-Clarke St/High St (Northcote),-37.776690,144.997534,1,86,POINT (144.99754 -37.77668)

In [15]:
region_bus_sf = gpd.read_file("../data/raw/PUBLIC_TRANSPORT/PTV_REGIONAL_BUS_STOP.shp")
region_bus_sf

,STOP_ID,STOP_NAME,LATITUDE,LONGITUDE,ROUTEUSSP,geometry
0,23195,Andrew St/Union St (Kilmore),-37.290492,144.952280,None,POINT (144.95229 -37.29048)
1,23197,Wellington Square SC/Queen St (Wallan),-37.412990,144.978019,Wallan 1,POINT (144.97802 -37.41298)
2,23202,Aquamoves/Tom Collins Dr (Shepparton),-36.386027,145.394445,9,POINT (145.39445 -36.38601)
3,23224,West End Caravan Park/Murray Valley Hwy (Yarra...,-36.022176,145.977047,None,POINT (145.97705 -36.02216)
4,23225,Jane Rd/Fiona Dr (Yarrawonga),-36.006707,146.025958,None,POINT (146.02596 -36.00669)
...,...,...,...,...,...,...
6738,536,Memorial Dr/Sago Hill Rd (Haddon),-37.589701,143.720646,None,POINT (143.72065 -37.58969)
6739,6285,Bloomfield Rd/Queen St (Nilma),-38.169784,145.967323,None,POINT (145.96733 -38.16977)
6740,63,Armstrong St/Sturt St (Ballarat Central),-37.561515,143.855823,None,POINT (143.85583 -37.56150)
6741,7009,Harrison St/Marengo Crst (Marengo),-38.777123,143.663226,None,POINT (143.66323 -38.77711)
6742,82,Ballarat Railway Station/Lydiard St (Ballarat ...,-37.558656,143.858761,"Goldrush,",POINT (143.85877 -37.55864)

In [14]:
region_coach_sf = gpd.read_file("../data/raw/PUBLIC_TRANSPORT/PTV_REGIONAL_COACH_STOP.shp")
region_coach_sf

,STOP_ID,STOP_NAME,LATITUDE,LONGITUDE,geometry
0,18676,Euroa - Mansfield Rd/Maroondah Hwy (Merton),-36.977321,145.710830,POINT (145.71084 -36.97731)
1,18677,Euroa-Mansfield Rd/Maroondah Hwy (Merton),-36.977598,145.710668,POINT (145.71067 -36.97758)
2,18678,Woolshed Rd/Maroondah Hwy (Woodfield),-37.022249,145.806827,POINT (145.80683 -37.02224)
3,18679,Woolshed Rd/Maroondah Hwy (Woodfield),-37.022554,145.806699,POINT (145.80670 -37.02254)
4,18680,Phillip St/Bon Cres (Bonnie Doon),-37.026551,145.853708,POINT (145.85371 -37.02654)
...,...,...,...,...,...
796,18671,east of Pechell St/High St (Yea),-37.211162,145.423981,POINT (145.42399 -37.21115)
797,18672,General Store/Goulburn Valley Hwy (Molesworth),-37.167309,145.539051,POINT (145.53906 -37.16730)
798,18673,General Store/Goulburn Valley Hwy (Molesworth),-37.167347,145.539162,POINT (145.53917 -37.16733)
799,18674,Wrights St/Maroondah Hwy (Yarck),-37.101185,145.617078,POINT (145.61708 -37.10117)
800,18675,Wrights St/Maroondah Hwy (Yarck),-37.101287,145.617312,POINT (145.61732 -37.10127)

In [13]:
region_train_sf = gpd.read_file("../data/raw/PUBLIC_TRANSPORT/PTV_REGIONAL_TRAIN_STATION.shp")
region_train_sf

,STOP_ID,STOP_NAME,LATITUDE,LONGITUDE,geometry
0,17204,Wallan Railway Station (Wallan),-37.416861,145.005372,POINT (145.00538 -37.41685)
1,19980,Melton Railway Station (Melton South),-37.703359,144.572216,POINT (144.57222 -37.70335)
2,19981,Rockbank Railway Station (Rockbank),-37.729261,144.650631,POINT (144.65064 -37.72925)
3,19982,Deer Park Railway Station (Deer Park),-37.777764,144.772304,POINT (144.77231 -37.77775)
4,19998,Sunbury Railway Station (Sunbury),-37.579206,144.728165,POINT (144.72817 -37.57919)
...,...,...,...,...,...
105,47642,Epsom Railway Station (Epsom),-36.706342,144.321040,POINT (144.32105 -36.70633)
106,47647,Wyndham Vale Railway Station (Manor Lakes),-37.872886,144.608732,POINT (144.60874 -37.87287)
107,47648,Tarneit Railway Station (Tarneit),-37.832168,144.694714,POINT (144.69472 -37.83215)
108,48804,Cobblebank Railway Station (Cobblebank),-37.712546,144.604108,POINT (144.60411 -37.71253)
109,52011,Caroline Springs Railway Station (Ravenhall),-37.766145,144.735748,POINT (144.73575 -37.76613)

In [12]:
skybus_sf = gpd.read_file("../data/raw/PUBLIC_TRANSPORT/PTV_SKYBUS_STOP.shp")
skybus_sf

,STOP_ID,STOP_NAME,LATITUDE,LONGITUDE,ROUTEUSSP,geometry
0,23173,Skybus Coach Terminal/Spencer St (Melbourne City),-37.816045,144.951975,None,POINT (144.95198 -37.81603)
1,23175,Skybus Coach Terminal/Spencer St (Melbourne City),-37.816551,144.952586,None,POINT (144.95259 -37.81654)
2,45511,Melbourne Airport T1 Skybus/Arrival Dr (Melbou...,-37.669331,144.850681,None,POINT (144.85069 -37.66932)
3,45513,Melbourne Airport T3 Skybus/Arrival Dr (Melbou...,-37.670936,144.848741,None,POINT (144.84875 -37.67092)